{% extends "account/base.html" %}

{% block title %} {% if title %} {{title}} {% endif %} {% endblock title %}

{% block content %}

<div class="card" style="width: 50%; margin: auto;">
    <form class="loginForm" style="padding: 2vw;">
        <fieldset>
            <div class="form-group">
                <label class="form-label" for="input-example-1">Username</label>
                <input class="form-input" type="text" id="input-example-1" placeholder="Name">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-example-1">Password</label>
                <input class="form-input" type="password" id="input-example-1" placeholder="Name">
            </div>
            <span class="label"></span>
            <button class="btn submitBtn">Log In</button>
        </fieldset>
    </form>
</div>



{% endblock content %}

{% block postBody%}
<script type="text/javascript">
    var url = "{% url 'account-login' %}";
    var submitBtn = document.querySelector(".submitBtn");
    var info = document.querySelector(".label");


    submitBtn.addEventListener('onClick', function callBack(){
        var data = new FormData(document.querySelector(".loginForm"))
        var data = {
            headers:{
                "content-type":"application/json"
            }
            
        }
        fetch(url, )
    });
</script>
{% endblock postBody%}